In [97]:
import pandas as pd
import ast

In [98]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [99]:
#credits = credits.dropna

In [100]:
# class Credit:
#     def __init__(self):
#         self.title = ""
#         self.cast = []
#         self.crew = []
#         self.id = None

#     def get_cast(self):
#         actor = [i['name'] for i in self.cast]
#         cast_str = str(self)
#         cast_dict = ast.literal_eval(cast_str)
#         return actor

In [101]:
class Credit:
    def __init__(self):
        self.title = self.movie_id
        self.cast = []
        self.crew = []
        self.id = self.movie_id

    def get_cast(self):
        cast_str = str(self.cast)
        cast_dict = ast.literal_eval(cast_str)
        actor_list = []
        for actor in cast_dict:
            actor_list.append(actor['name'])
        return actor_list

In [102]:
class Person:
     def __init__(self, actor_id, actor_name):
        self.actor_name = actor_name
        self.actor_id = actor_id

In [103]:
def process_lists(item_list):
    item_list = eval(item_list.strip(']['))
    new_item_list = []
    if type(item_list) == tuple:
        for item in item_list:
            new_item_list.append(item["name"])
    else:
        new_item_list.append(item_list["name"])
    return new_item_list

In [149]:
def actor_process(item_list):
    item_list = eval(item_list.strip(']['))
    new_item_list = []
    new_dict = {}
    if type(item_list) == tuple:
        for item in item_list:
            new_dict['name'] = item["name"]
            new_dict['id'] = item["id"]
            new_item_list.append(new_dict)
    else:
        new_dict['name'] = item_list["name"]
        new_dict['id'] = item_list["id"]
        new_item_list.append(new_dict)
    return new_item_list

In [157]:
credits2 = credits
credits2 = credits2[credits2.movie_id != '[]'][credits2.cast != '[]'][credits2.title != '[]'][credits2.crew != '[]']
credits2['cast'] = credits2['cast'].apply(actor_process)
#credits2['crew'] = credits2['crew'].apply(crew_process)

C:\Users\UW HK\AppData\Local\Temp\ipykernel_17336\3252518983.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  credits2 = credits2[credits2.movie_id != '[]'][credits2.cast != '[]'][credits2.title != '[]'][credits2.crew != '[]']

In [158]:
credits2

,movie_id,title,cast,crew
0,19995,Avatar,"[{'name': 'Julene Renee', 'id': 42286}, {'name...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{'name': 'Ghassan Massoud', 'id': 70577}, {'n...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{'name': 'Matija Mondi Matović', 'id': 172580...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{'name': 'Daniel Newman', 'id': 1536670}, {'n...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{'name': 'Joseph Billingiere', 'id': 1844319}...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{'name': 'Juan García', 'id': 1066358}, {'nam...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{'name': 'Daniella Pineda', 'id': 1257819}, {...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{'name': 'Daphne Zuniga', 'id': 14668}, {'nam...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{'name': 'Zhu Shimao', 'id': 1395490}, {'name...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{'name': 'Bill D'Elia', 'id': 155007}, {'name...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [170]:
# def crew_process1(item_list):
#     item_list = eval(item_list.strip(']['))
#     new_item_list = []
#     new_dict = {}
#     if type(item_list) == tuple:
#         for item in item_list:
#             new_dict['name'] = item["name"]
#             if "Director" in item['job']:
#                 new_dict['job'] = item[item["job"] == "Director"]
#                 new_item_list.append(new_dict)
#     else:
#         new_dict['name'] = item_list["name"]
#         if "Director" in item.get("job", ""):
#             new_dict['job'] = item[item["job"] == "Director"]
#             new_item_list.append(new_dict)
#     return new_item_list

In [175]:
# def crew_process2(item_list):
#     item_list = eval(item_list.strip(']['))
#     new_item_list = []
#     new_dict = {}
#     if type(item_list) == tuple:
#         for item in item_list:
#             new_dict['name'] = item["name"]
#             new_dict['job'] = "Director" if item.get("job", "") == "Director" else ""
#             new_item_list.append(new_dict)
#     else:
#         new_dict['name'] = item_list["name"]
#         new_dict['job'] = "Director" if item.get("job", "") == "Director" else ""
#         new_item_list.append(new_dict)
#     return new_item_list

In [ ]:
# def crew_process3(item_list):
#     item_list = eval(item_list.strip(']['))
#     new_item_list = []
#     new_dict = {}
#     if type(item_list) == tuple:
#         for item in item_list:
#             new_dict['name'] = item["name"]
#             new_dict['job'] = item["job"]
#             new_item_list.append(new_dict)
#     else:
#         new_dict['name'] = item_list["name"]
#         new_dict['job'] = item["job"]
#         new_item_list.append(new_dict)
#     return new_item_list