In [1]:
import pandas as pd

In [4]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [5]:
C = movies['vote_average'].mean()
C #average rating

6.092171559442016

In [6]:
M = movies['vote_count'].quantile(0.9)
M #minimum vote

1838.4000000000015

In [7]:
movies_rating = movies.copy().loc[movies['vote_count'] >= M]
movies_rating.shape #상위 10% 만 movies_rating에 copy

(481, 20)

In [8]:
#weighted rating 계산
def weighted_rating(x, m = M, c = C):
    v = x['vote_count']
    r = x['vote_average']
    return (v/(v+m)* r) + (m/(m+v)*C)

In [10]:
#표에 raring 추가
movies_rating['rating'] = movies_rating.apply(weighted_rating, axis = 1)
movies_rating = movies_rating[['id','title','rating']]
movies_rating

          id                                     title    rating
0      19995                                    Avatar  7.050669
1        285  Pirates of the Caribbean: At World's End  6.665696
2     206647                                   Spectre  6.239396
3      49026                     The Dark Knight Rises  7.346721
4      49529                               John Carter  6.096368
...      ...                                       ...       ...
4798    9367                               El Mariachi  6.150380
4799   72766                                 Newlyweds  6.091650
4800  231617                 Signed, Sealed, Delivered  6.095125
4801  126186                          Shanghai Calling  6.090684
4802   25975                         My Date with Drew  6.093965

[4803 rows x 3 columns]